[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
timecode = "*"
ffmpeg-python = "*"
importlib-metadata = "*"
get-media-duration = {file = "."}

[dev-packages]

[requires]
python_version = "3.11"
